:root {
    box-sizing: border-box;
    background: #1E1E1E;
    color: white;
    font-family: Arial, sans-serif;
}

*,
*:after,
*:before {
    box-sizing: inherit;
}

body {
    margin: 0;
}

.layout_container {
    /* max-width: 1360px; */
    margin: 0 120px 0 120px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

ul {
    list-style: none;
}

ul, li {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
}

nav > ul > li > a {
    font-family: Arial, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
}

nav > ul > li > a:hover {
    color: #D1D1D1;
    border-bottom: 2px solid #D1D1D1;
    border-radius: 0.5px;  
}

nav > ul {
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
}

nav > ul > li {
    margin-top: 47px;
    display: flex;
    float: right;
}

.layout_header {
    display: flex;
    align-items: center;
}

.layout_header > a > img {
    margin-top: 47px;
}

li + li {
    margin-left : 80px;
}

nav {
    margin-right: 0px;
    margin-left: auto;
}

header {
    background: url("../img/background.png") no-repeat center center fixed; 
    background-size: cover;
    height: 743px;
}

h1 {
    font-size: 35px;
    font-weight: 900;
    margin-top: 0;
}

.welcome-block {
    width: 505px;
    margin-top: 164px;
}

.welcome-block > h3 {
    margin-top: 21px;
    font-size: 20px;
    font-weight: 400;
    color: #E5DCDC;
    margin-bottom: 64px;
}

.welcome-block > a {
    padding: 16.5px 89px 16.5px 89px;
    color: #021935;
    background-color: #F6A127;
    font-size: 16px;
    font-weight: 700;
    border-radius: 27px;
    box-shadow: 0px 4px 10.2px #F38B11 0.6;
    box-shadow: 0px 5px 10.2px 0px rgba(243, 139, 17, 0.4);
}

.welcome-block > a:hover {
    background-color: #F89E1E;
}

.news {
    margin-top: 49px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    padding: 0;
}

.item {
    width: 24%;
    margin-bottom: 15px;
    margin-left: 40px;
    
}

.item-1 {
    margin-left: 0;
    padding-left: 15px;
}

.news-1-top {
    height: 205px;
    background-image: url("../img/news-1.png"); ;
    background-size: cover;
    background-position: center;
    border-radius: 48px 48px 0 0;
}

.news-1-bottom {
    padding: 22px 20px 19px 20px;
    background-color: #161616;
    border-radius: 0 0 20px 20px;
}

.news-1-bottom > h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.news-1-bottom > p {
    font-size: 17px;
    margin-top: 16px;
    margin-bottom: 38px;
    line-height: 137.2%;
}

.news-1-bottom > .date {
    margin: 0;
    color: #969696;
    font-size: 15px;
    font-style: italic;
}

.news-2-top {
    height: 205px;
    background-image: url("../img/news-2.png"); ;
    background-size: cover;
    background-position: center;
    border-radius: 48px 48px 0 0;
}

.news-2-bottom {
    padding: 22px 20px 19px 20px;
    background-color: #161616;
    border-radius: 0 0 20px 20px;
}

.news-2-bottom > h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0;
}

.news-2-bottom > p {
    font-size: 17px;
    margin-top: 16px;
    margin-bottom: 38px;
    line-height: 137.2%;
}

.news-2-bottom > .date {
    margin: 0;
    color: #969696;
    font-size: 15px;
    font-style: italic;
}

.item:hover {
    color: #161616;
    opacity: 80%;
}